# Node
node_modules/
npm-debug.log*
.pnpm-store/

# Env
.env
.env.local
.env.*.local

# Local dev uploads (created by uploads.js when S3 is not configured)
backend/uploads/

# Expo / RN
mobile/.expo/
mobile/.expo-shared/
mobile/dist/
mobile/web-build/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Test coverage
coverage/
